USE [master]
GO
/****** Object:  Database [shopnguyenxa_test]    Script Date: 6/24/2020 1:06:30 AM ******/
CREATE DATABASE [shopnguyenxa_test]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'shopnguyenxa_test', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\shopnguyenxa_test.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'shopnguyenxa_test_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\shopnguyenxa_test_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [shopnguyenxa_test].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [shopnguyenxa_test]
GO
/****** Object:  Table [dbo].[bill]    Script Date: 6/24/2020 1:06:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bill](
	[id] [char](12) NOT NULL,
	[id_customer] [int] NULL,
	[total] [real] NULL,
	[create_at] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bill_item]    Script Date: 6/24/2020 1:06:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bill_item](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_bill] [char](12) NULL,
	[id_product] [int] NULL,
	[quantity] [int] NULL,
	[unit_price] [real] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customer]    Script Date: 6/24/2020 1:06:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](255) NULL,
	[password] [varchar](255) NULL,
	[name] [nvarchar](255) NULL,
	[phone_number] [varchar](50) NULL,
	[address] [nvarchar](512) NULL,
	[gender] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ordered]    Script Date: 6/24/2020 1:06:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ordered](
	[id_customer] [int] NULL,
	[id_bill] [char](12) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product]    Script Date: 6/24/2020 1:06:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_no] [int] NULL,
	[name] [nvarchar](255) NULL,
	[brand] [nvarchar](255) NULL,
	[material] [nvarchar](255) NULL,
	[price] [int] NULL,
	[compatibility] [nvarchar](255) NULL,
	[mfgDate] [date] NULL,
	[warranty] [int] NULL,
	[linkImage] [varchar](512) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[product] ON 

INSERT [dbo].[product] ([id], [product_no], [name], [brand], [material], [price], [compatibility], [mfgDate], [warranty], [linkImage]) VALUES (1, 1, N'Đôi Loa 2.0', N'Kisonli', N'Nhựa tổng hợp', 100, N'Tất cả thiết bị có jack 3.5mm', CAST(N'2018-01-07' AS Date), 24, N'https://vn-live-03.slatic.net/p/218c4522031a109518a211c185eada38.jpg')
INSERT [dbo].[product] ([id], [product_no], [name], [brand], [material], [price], [compatibility], [mfgDate], [warranty], [linkImage]) VALUES (2, 2, N'Ốp silicol cho Redmi note 7', N'Xiaomi', N'Nhựa dẻo', 50, N'Điện thoại Redmi note 7', CAST(N'2019-08-01' AS Date), 3, N'https://www.upsieutoc.com/images/2020/04/05/image05bb215952eca19f.png')
INSERT [dbo].[product] ([id], [product_no], [name], [brand], [material], [price], [compatibility], [mfgDate], [warranty], [linkImage]) VALUES (3, 3, N'Đầu chuyển từ Micro Usb sang Type C', N'Xiaomi', N'Nhựa cứng', 30, N'Điện thoại Redmi note 7', CAST(N'2019-08-01' AS Date), 3, N'https://www.upsieutoc.com/images/2020/04/05/image19ce353a70ae4075.png')
SET IDENTITY_INSERT [dbo].[product] OFF
ALTER TABLE [dbo].[bill]  WITH CHECK ADD  CONSTRAINT [fk_id_customer] FOREIGN KEY([id_customer])
REFERENCES [dbo].[customer] ([id])
GO
ALTER TABLE [dbo].[bill] CHECK CONSTRAINT [fk_id_customer]
GO
ALTER TABLE [dbo].[bill_item]  WITH CHECK ADD  CONSTRAINT [fk_id_bill] FOREIGN KEY([id_bill])
REFERENCES [dbo].[bill] ([id])
GO
ALTER TABLE [dbo].[bill_item] CHECK CONSTRAINT [fk_id_bill]
GO
ALTER TABLE [dbo].[bill_item]  WITH CHECK ADD  CONSTRAINT [fk_id_product] FOREIGN KEY([id_product])
REFERENCES [dbo].[product] ([id])
GO
ALTER TABLE [dbo].[bill_item] CHECK CONSTRAINT [fk_id_product]
GO
ALTER TABLE [dbo].[ordered]  WITH CHECK ADD  CONSTRAINT [fk_ordered_id_bill] FOREIGN KEY([id_bill])
REFERENCES [dbo].[bill] ([id])
GO
ALTER TABLE [dbo].[ordered] CHECK CONSTRAINT [fk_ordered_id_bill]
GO
ALTER TABLE [dbo].[ordered]  WITH CHECK ADD  CONSTRAINT [fk_ordered_id_customer] FOREIGN KEY([id_customer])
REFERENCES [dbo].[customer] ([id])
GO
ALTER TABLE [dbo].[ordered] CHECK CONSTRAINT [fk_ordered_id_customer]
GO
USE [master]
GO
